 body{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgb(246, 232, 232);
                color:rgb(12, 12, 12);
            }
            h1{
                font-family: papyrus, 'Comic Sans MS', serif;
            }
          p{
            border: 2px solid rgb(12, 11, 12);
            padding: 5px;
            margin: 10px;
          }  
          img{
            border: 4px solid rgb(18, 18, 18);
            padding: 7px;
            margin: 12px;
          }
          
          li:hover{
            background-color: rgb(246, 218, 218);
          }
          a{
            color: rgb(62, 63, 63);

          }
 /* Styles for the riddle generator */

.riddle-box {
  padding: 10px;
}

.hidden {
  color: #777;
  font-style: italic;
}

.shown {
  color: #111;
  font-weight: bold;
}